@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#42E6F5;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #42E6F5;
	letter-spacing: 0.5px;
}
h2{
	color: #F242F5;
	letter-spacing: 0.5px;
	font-family: raleway;
}




/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
